extends base

mixin releaseTable(name, releases)
    h3=`${name}`
    table(border='1px')
        thead
            tr
                th Select
                th Status
                th Name
                th Size
                th Category
                th Source
                th Duration
                th V. Codec
                th V. Bitrate
                th A. Streams
                th A. Codec
                th Info
                th Edit
                th Delete
        tbody
            each release in releases
                tr
                    td
                        //- input(id=`chk-${movie.slug}`, type='checkbox', name=`chk-${movie.slug}`)
                        input(type='checkbox')
                    td=`${release.status}`
                    td=`${release.name}`
                    td=`${release.sizeDisplay}`
                    td=`${release.category}`
                    td=`${release.source}`
                    td=`${release.durationDisplay}`
                    if (release.videos && release.videos.length>0)
                        td=`${release.videos[0].codec}`
                        td=`${release.videos[0].bitrate}Mbps`
                    else
                        td=''
                        td=''
                    if (release.audios && release.audios.length>0)
                        td=`${release.audios.length}`
                        td=`${release.audios[0].codec}`
                    else
                        td 0
                        td=''
                    td
                        a(href=`/release/${release._id}`) View
                    td
                        a(href=`#`) Edit
                    td
                        a(href=`#`) Delete


block content
    if (movie)
        h1 Edit Movie
    else
        h1 Add Movie
    |
    form.form.form-manage-movie
        div.form-group.row
            label.col-sm-2.col-form-label(for='movie-title') Title
            div.col-sm-10
                if (!movie)
                    input#movie-title.form-control(type='text', required, name='movietitle', placeholder='Movie Title')
                else
                    input#movie-title.form-control(type='text', required, name='movietitle', placeholder='Movie Title', value=`${movie.title ? movie.title : ''}`)
        div.form-group.row
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label(for='movie-status') Status
                div.col-sm-9
                    select#movie-status.form-control(name='statusSelect')
                        if (!movie)
                            option(value='Done') Done
                            option(value='Check-Subtitles') Check-Subtitles
                            option(value='Build') Build
                            option(value='Download') Download
                            option(value='Que') Que
                            option(value='Search' selected='selected') Search
                        else
                            if (movie.status==='Done')
                                option(value='Done' selected='selected') Done
                            else
                                option(value='Done') Done
                            if (movie.status==='CheckSubtitles')
                                option(value='CheckSubtitles' selected='selected') Check Subtitles
                            else
                                option(value='CheckSubtitles') Check Subtitles
                            if (movie.status==='Build')
                                option(value='Build' selected='selected') Build
                            else
                                option(value='Build') Build
                            if (movie.status==='Download')
                                option(value='Download' selected='selected') Download
                            else
                                option(value='Download') Download
                            if (movie.status==='Que')
                                option(value='Que' selected='selected') Que
                            else
                                option(value='Que') Que
                            if (movie.status==='Search')
                                option(value='Search' selected='selected') Search
                            else
                                option(value='Search') Search
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label(for='imdb-link') IMDB Link
                div.col-sm-9
                    if (!movie)
                        input#imdb-link.form-control(type='url', required, name='imdbLink', placeholder='IMDB Link')
                    else
                        input#imdb-link.form-control(type='url', required, name='imdbLink', placeholder='IMDB Link', value=`${movie.imdbLink ? movie.imdbLink : ''}`)
        div.form-group.row
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label Categories
                div.col-sm-9
                    div.form-check.form-check-inline
                        if (!movie)
                            input#kids.form-check-input(type='checkbox', name='kids', value='kids')
                        else
                            input#kids.form-check-input(type='checkbox', name='kids', value='kids', checked=(movie.isKids ? "checked" : undefined))
                        label.form-check-label(for='kids') Kids
                    div.form-check.form-check-inline
                        if (!movie)
                            input#classic.form-check-input(type='checkbox', name='classic', value='classic')
                        else
                            input#classic.form-check-input(type='checkbox', name='classic', value='classic', checked=(movie.isClassic ? "checked" : undefined))
                        label.form-check-label(for='classic') Classic
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label(for='release-data') Release Date
                div.col-sm-9
                    if (!movie)
                        input#release-data.form-control(type='date', name='releasedate')
                    else
                        input#release-data.form-control(type='date', name='releasedate', value=`${movie.releaseDate ? movie.releaseDate.toISOString().split('T')[0] : ''}`)
        div.form-group.row
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label(for='ratings-average') Ratings Average
                div.col-sm-9
                    if (!movie)
                        input#ratings-average.form-control(type='number', name='ratingsaverage' ,step='0.1', min='0', max='10')
                    else
                        input#ratings-average.form-control(type='number', name='ratingsaverage' ,step='0.1', min='0', max='10', value=`${movie.ratingsAverage ? movie.ratingsAverage : ''}`)
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label(for='ratings-quantity') Ratings Quantity
                div.col-sm-9
                    if (!movie)
                        input#ratings-quantity.form-control(type='number', name='releasequantity' ,step='1000', min='0')
                    else
                        input#ratings-quantity.form-control(type='number', name='releasequantity' ,step='1000', min='0', value=`${movie.ratingsQuantity ? movie.ratingsQuantity : ''}`)
        div.form-group.row
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label(for='geners') Geners
                div.col-sm-9
                    if (!movie)
                        input#geners.form-control(type='text', name='geners', placeholder='Comedy, Action')
                    else
                        input#geners.form-control(type='text', name='geners', placeholder='Comedy, Action', value=`${movie.geners ? movie.geners.join(', ') : ''}`)
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label(for='duration') Duration (min)
                div.col-sm-9
                    if (!movie)
                        input#duration.form-control(type='number', name='duration' ,step='10', min='0')
                    else
                        input#duration.form-control(type='number', name='duration' ,step='10', min='0', value=`${movie.duration ? movie.duration : ''}`)
        
        div.form-group.row
            label.col-sm-2.col-form-label(for='plot') Plot      
            div.col-sm-10
                if (!movie)
                    textarea#plot.form-control(name='plot', rows='4', placeholder='Movie plot...')
                else
                    textarea#plot.form-control(name='plot', rows='4', placeholder='Movie plot...')=`${movie.plot ? movie.plot : ''}`
        div.form-group.row
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label(for='mpaa') MPAA
                div.col-sm-9
                    if (!movie)
                        input#mpaa.form-control(type='text', name='mpaa', placeholder='PG')
                    else
                        input#mpaa.form-control(type='text', name='mpaa', placeholder='PG', value=`${movie.mpaa ? movie.mpaa : ''}`)
            div.col-sm-6.form-group.row
                label.col-sm-3.col-form-label(for='poster') Poster
                div.col-sm-9
                    if (!movie)
                        input#poster.form-control(type='text', name='poster')
                    else
                        input#poster.form-control(type='text', name='poster', value=`${movie.poster ? movie.poster : ''}`)
        |
        if (movie && movie.releases)
            +releaseTable('Releases', movie.releases)        
        button Save