extends base

mixin movieTable(movies)
    table(border='1px')
        thead
            tr
                th Select
                th Title
                th Link
                th View
                th Edit
                th Delete
                th Add Release
                th Action
        tbody
            each movie in movies
                tr
                    td
                        input(id=`chk-${movie.slug}`, type='checkbox', name=`chk-${movie.slug}`)
                    td=`${movie.displayTitle}`
                        if (movie.imdbLink)
                            th
                                a(href=`${movie.imdbLink}` target="_blank")
                                    img(src='/img/imdb.png' style='max-width: 500px;')
                        else
                            th
                    td
                        a(href=`/movie/${movie.slug}`) View
                    td
                        a(href=`/manage/movie/${movie.slug}`) Edit
                    td
                        input(type='button' value='Delete' onclick=`DeleteMovieConfirmation('${movie._id}','${movie.title}');`)
                    td
                        a(href=`#`) Add Release
                    td
                        select.form-control(id=`movie_${movie.slug}`, name='movieSelect') Select Movie
                            option(value=movie._id) View
                            option(value=movie._id) Edit
                            option(value=movie._id) Add Release
                            option(value=movie._id) Delete
                        input.btn.btn-primary(type='button', value='Go')

block content
    main.main
        //- - console.log(movies)
        .my-text
            div
                label='Kids '
                select(id='kids' name='kidsSelect')
                    option(value='yes') Yes
                    option(value='no' selected='selected') No
                    option(value='all') All
                |
                |
                label='Classics '
                select(id='classics' name='classicSelect')
                    option(value='yes') Yes
                    option(value='no') No
                    option(value='all' selected='selected') All
                |
                |
                a.btn.btn-primary.disabled(href=`#`) Manage
                |
                |
                a.btn.btn-primary(href=`/add-movie`) ADD
                |
                |
                a.btn.btn-primary.disabled(href=`/add-movie`) DELETE
            +movieTable(movies)
    