extends base

mixin movieTable(movies)
    table(border='1px')
        thead
            tr
                th Select
                th Title
                th Link
                th View
                th Edit
                th Delete
        tbody
            each movie in movies
                tr
                    td
                        input(id=`chk-${movie.slug}`, type='checkbox', name=`chk-${movie.slug}`)
                    td=`${movie.displayTitle}`
                    if (movie.imdbLink)
                        th
                            a(href=`${movie.imdbLink}` target="_blank")
                                img(src='/img/imdb.png' style='max-width: 500px;')
                    else
                        th
                    td
                        a(href=`/movie/${movie.slug}`) View
                    td
                        a(href=`/manage/movie/${movie.slug}`) Edit
                    td
                        a(href=`#`) Delete

block content
    main.main
        .my-text
            div
                label='Kids '
                select(id='kids' name='kidsSelect')
                    option(value='yes') Yes
                    option(value='no' selected='selected') No
                    option(value='all') All
                |
                |
                label='Classics '
                select(id='classics' name='classicSelect')
                    option(value='yes') Yes
                    option(value='no') No
                    option(value='all' selected='selected') All
                |
                |
                button Manage
                |
                |
                button New
                |
                |
                a(href=`/add-movie`) ADD (Temp)
            +movieTable(movies)
            //- each movie in movies
            //-     p
            //-         input(id=`chk-${movie.slug}`, type='checkbox', name=`chk-${movie.slug}`)
            //-         |
            //-         |
            //-         a(href=`/movie/${movie.slug}`)=movie.displayTitle
            //-         |
            //-         |
            //-         a(href=`/manage/movie/${movie.slug}`) Edit
            //-         |
            //-         |
            //-         a(href='#') Delete
            //-         if (movie.imdbLink)
            //-             a(href=`${movie.imdbLink}` target="_blank")
            //-                 img(src='/img/imdb.png' style='max-width: 500px;')
                    //- a.btn.btn--green.btn--small(href=`/movie/${movie.slug}`)=`${movie.displayTitle} Details`
